.block_carousel {
    margin-bottom: 60px;
}
.block_carousel .slidewrap {
    position: relative;
    height: 0;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
}

.block_carousel .slidewrap .title {
    position: absolute;
    left: 2%;
    top: 2%;
    padding: 1em;
    margin: 0;
    text-shadow: 0px 2px 6px #000;
}
.block_carousel .slidewrap .title.multislide {
    padding: 5px 0 0 5px;
}

.block_carousel .slidewrap .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    background: rgba(0,0,0,.4);
}
.block_carousel .slidewrap .text.multislide {
    padding: 0 0 0 5px;
}

.block_carousel .slick-slide {
    padding: 1em !important;
}
